#about-card {
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    height: 77vh;
}

#headshot-side{
    background-image: url(../images/headshot_casual_bw.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#word-about {
    position: absolute;
    color: rgba(253, 248, 246, 0.534);
    font-size:14em; 
    font-weight: bold;
    writing-mode: vertical-lr;
    top: 50%;
    left: 50%;
    transform: translate(-215%, -50%);
    mix-blend-mode: screen; 
}

Link {
   cursor: pointer;
}

.about-card {
    height: 19vh;
    width: 100%;
}

/*Hover Effect from W3 School 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_slideleft*/
.container-bio{
    width: 50%;
}

#about-bio:hover .overlay-bio{
    width: 100%;
}

.container-craft{
    width: 50%;
}

#about-craft:hover .overlay-craft {
    width: 100%;
}

.container-code{
    width: 50%;
}

#about-code:hover .overlay-code {
    width: 100%;
}

.container-docs{
    width: 50%;
}

#about-docs:hover .overlay-docs {
    width: 100%;
}

.overlay-bio {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(12, 0, 186, 0.425);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay-craft {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(207, 121, 9, 0.781);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay-code {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(76, 240, 11, 0.555);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay-docs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(168, 28, 3, 0.507);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
/*Hover Effect End*/

.about-card-title-bio {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(12, 0, 186, 0.651);
    font-size: 8em; 
    font-weight: bold;
}

.about-card-title-craft {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(207, 121, 9, 0.781);
    font-size: 8em; 
    font-weight: bold;
}

.about-card-title-code {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(76, 240, 11, 0.699);
    font-size: 8em; 
    font-weight: bold;
}

.about-card-title-docs {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(168, 28, 3, 0.801);
    font-size: 8em; 
    font-weight: bold;
}

#about-bio {
    background-image: url(../images/pen_bw-crop.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about-craft {
    background-image: url(../images/pottery_hands.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about-code {
    background-image: url(../images/computer-keyboard_bw.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about-docs {
    background-image: url(../images/harddrive_closeup_bw.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px){
    #about-card {
        height: 73.2vh;
    }

    .about-card {
        height: 18vh;
        width: 100%;
    }
    

    .container-bio{
        width: 100%;
    }

    .container-craft{
        width: 100%;
    }

    .container-code{
        width: 100%;
    }

    .container-docs{
        width: 100%;
    }

    .about-card-title-bio {
        font-size: 6em; 
    }

    .about-card-title-craft {
        font-size: 6em; 
    }
    
    .about-card-title-code {
        font-size: 6em; 
    }
    
    .about-card-title-docs {
        font-size: 6em; 
    }
}