#about-card {
    background-image: url(../images/headshot_casual_bw.png);
    background-size: 50%;
    background-repeat: no-repeat;
    height: 77vh;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

#word-about {
    position: absolute;
    color: rgba(0, 255, 255, 0.363);
    font-size:14em; 
    font-weight: bold;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    mix-blend-mode: screen; 
}

Link {
   cursor: pointer;
}

.about-card {
    height: 19vh;
    width: 50%;
    float: right;
}

/*Hover Effect from W3 School 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_slideleft*/
.container-bio{
    position: relative;
    width: 50%;
}

#about-bio:hover .overlay-bio{
    width: 100%;
}

.container-craft{
    position: relative;
    width: 50%;
}

#about-craft:hover .overlay-craft {
    width: 100%;
}

.container-code{
    position: relative;
    width: 50%;
}

#about-code:hover .overlay-code {
    width: 100%;
}

.container-docs{
    position: relative;
    width: 50%;
}

#about-docs:hover .overlay-docs {
    width: 100%;
}

.overlay-bio {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(12, 0, 186, 0.425);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay-craft {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(207, 122, 9, 0.548);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay-code {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(76, 240, 11, 0.555);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay-docs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(168, 28, 3, 0.507);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
/*Hover Effect End*/

.about-card-title-bio {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(246, 250, 253, 0.534);
    font-size: 8em; 
    font-weight: bold;
}

.about-card-title-craft {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(253, 248, 246, 0.534);
    font-size: 8em; 
    font-weight: bold;
}

.about-card-title-code {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(253, 248, 246, 0.534);
    font-size: 8em; 
    font-weight: bold;
}

.about-card-title-docs {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(253, 248, 246, 0.534);
    font-size: 8em; 
    font-weight: bold;
}

#about-bio {
    background-image: url(../images/pen_bw-crop.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about-craft {
    background-image: url(../images/kiln_fire_bw.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about-code {
    background-image: url(../images/code_bw.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about-docs {
    background-image: url(../images/file_vault_bw.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}