#big-calendar-card{
    height: 70vh;
    background-color: #192f58;
    color: white;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

.rbc-toolbar button {
    color: white;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: 1px solid #ccc;
    padding: .375rem .5rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap;
}
#main-calendar + .rbc-header {
    border-bottom: 4px solid white;
}

.rbc-header + .rbc-header {
    border-left: 4px solid #122342;
}

.rbc-month-row + .rbc-month-row {
    border-top: 4px solid #122342;
}

.rbc-month-view {
    border: 4px solid #122342;
}

.rbc-day-bg + .rbc-day-bg {
    border-left: 4px solid #122342;
}

.rbc-today {
    background-color: #5141ad;
}

.rbc-off-range-bg {
    background: #122342;
}

/* #calendar-column{
    max-width: 350px;
} */

/* .fc th{
    color: white;
} */

/* .fc-button-primary {
    background-color: transparent;
    border-color: transparent;
} */

