#main-clock-card {
    background-color: #122342;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    padding: 0% 2% 2% 2%;
}

.light-grey{
    color: rgb(150, 147, 147);
}

.dark-purple{
    color: #122342;
}