#code-card {
    height: 78vh;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

#skills-side {
    background-color: black;
}

#code-summary-side {
    background-image: url(../images/computer-keyboard_bw.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px){
    #code-card {
        height: 75vh;
    }
}








