#contact-card{
    background-image: url(../images/backgrounds/contact_background_bw.png);
    background-size: cover;
    margin: 0;
    background-position: center center;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

@media only screen and (max-width: 768px){
    #contact-card{
        background-image: none;
        background-color: black;
        border: solid 5px black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    }
}
