#craft-card {
  height: 77vh;
  background-image: linear-gradient(
      rgba(19, 18, 18, 0.39),
      rgba(255, 255, 255, 0.39)
    ),
    url('../images//pottery_hands.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  border: solid 5px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377),
    0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

.custom-header {
  padding-right: 0rem;
  padding-left: 1.5rem;
}

#craft-image-1 {
  background-image: url('../images/quatrafoil_bowls.jpg');
  margin: 0;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#craft-image-2 {
  background-image: url('../images/wine_cup_blushed.jpg');
  margin: 0;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#craft-image-3 {
  background-image: url('../images/soda_kiln.jpg');
  margin: 0;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#craft-image-4 {
  background-image: url('../images/americana_utility_bowl.jpg');
  margin: 0;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#craft-image-5 {
  background-image: url('../images/mfa_store_front.jpg');
  margin: 0;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  #craft-card {
    height: 70vh;
    overflow: scroll;
  }

  #craft-image-1 {
    background-image: url('../images/quatrafoil_bowls.jpg');
    margin: 0;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #craft-image-2 {
    background-image: url('../images/wine_cup_blushed.jpg');
    margin: 0;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #craft-image-3 {
    background-image: url('../images/soda_kiln.jpg');
    margin: 0;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #craft-image-4 {
    background-image: url('../images/americana_utility_bowl.jpg');
    margin: 0;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #craft-image-5 {
    background-image: url('../images/mfa_store_front.jpg');
    margin: 0;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
