#craft-card {
    height: 75vh;
    background-image: url('../images//pottery_hands.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

.custom-header{
    padding-right: 0rem;
    padding-left: 1.5rem;
}

@media only screen and (max-width: 768px){
    #craft-card {
        height: 75vh;
        overflow: scroll;
    }
}