#dashboard-main-card {
    height: 77vh;
    background-color: black;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

#navigation-side {
    background-color: black;
}

#data-card-1 {
    height: 10vh;
    background-color: red;
}

#data-card-2 {
    height: 10vh;
}

#data-card-3 {
    height: 10vh;
}

#data-card-4 {
    height: 30vh;
}

#data-card-5 {
    height: 30vh;
}

#data-card-6 {
    height: 24vh;
}

#data-card-7 {
    height: 75vh;
}

#data-card-7 {
    height: 10vh;
}

#data-card-8 {
    height: 35vh;
}
