/* .index-page-bg{
    background-image: url(../images/pottery_hands.jpg), url(../images/computer-keyboard.jpg);
    background-position: left, right;
    background-size: 50% 100%, 50% 100%; 
    background-repeat: no-repeat, no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

#landing-card {
    background-image: linear-gradient(rgba(19, 18, 18, 0.39), rgba(255, 255, 255, 0.39)), url(../images/pottery_hands.jpg), url(../images/computer-keyboard.jpg);
    background-position: right, left;
    background-size: cover, 50% 100%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    height: 75vh;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

#name-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 0.5px white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.747), 0 6px 20px 0 rgba(0, 0, 0, 0.747);
    padding: 15px;
    font-family: 'Playfair Display';
    font-size: 3em;
    cursor: default;
}

#word-craft {
    position: absolute;
    left: 0;
    color: rgba(0, 255, 255, 0.363);
    font-size: 12.5em; 
    font-weight: bold;
    float: left;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    mix-blend-mode: screen; 
    cursor: default;
}

#word-code {
    position: absolute;
    right: 0;
    color: rgba(57, 168, 30, 0.486);
    font-size: 14.5em; 
    font-weight: bold;
    writing-mode: vertical-lr;
    mix-blend-mode: screen; 
    cursor: default;
}

