#portfolio-card {
    height: 77vh;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

.project-card {
    height: 19vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.project-card:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#giphy-api {
    background-image: url(../images/giftastic_logo.png);
}

#word-guess {
    background-image: url(../images/movie_theater_logo.jpg);
}

#bamazon-cli {
    background-image: url(../images/bamazon_logo.jpg);
}

#web-scraper {
    background-image: url(../images/lego-minifigs-on-beam.jpg);
}

#code-burger {
    background-image: url(../images/code_burger_logo.jpg);
}

#goonie-friend {
    background-image: url(../images/goonies_friend.jpg);
}

#gpk-trivia {
    background-image: url(../images/gpk_card.jpg);
}

#athena-project {
    background-image: url(../images/clouds_pink_hue.jpg);
}

#trading-grounds {
    background-image: url(../images/trading_grounds.jpg);
}

#react-nyt {
    background-image: url(../images/nyt_search.jpg);
}

#rpsls-multiplayer {
    background-image: url(../images/rpsls_game_logo_sized.jpg);
}

#react-memory {
    background-image: url(../images/80s_soundtrack.png);
}

#reeldex-project {
    background-image: url(../images/background-film.jpg);
}

#train-scheduler {
    background-image: url(../images/background_train_station.jpg);
}

#voltron-trivia {
    background-image: url(../images/background_voltron_stars.jpg);
}

#liri-node {
    background-image:  url(../images/liri_node_app_logo.jpg);
}