#main-wakatime-card {
    height: 70vh;
    background-color: #122342;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    padding: 0% 0% 2% 0%;
}

#wakatime-ticker-card {
    padding: 1.75%;
    background-color: #192f58;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

.custom-header{
    padding-right: 0rem;
    padding-left: 1.5rem;
}

.wakatime-ticker-column {
    padding: 4% 2% 0% 2%;
}