.radial-menu {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-125%, -50%);
}

.fMdhuL {
    background: none;
}

.fMdhuL:hover {
    background: rgba(82, 82, 97, 0.507);
}