#form-card {
background-color:transparent;
height: 77vh
}

.button {
  border-radius: 0;
  border: none;
  background-color: rgba(0, 128, 0, 0.603);
  color: white;
}

#contact-form-content {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  /* height: 100%; */
  padding: 20px;
} 

.input {
  background-color: rgba(0, 0, 0, 0.521);
  color: white;
  border: none;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.575);
}

.textarea {
  background-color: rgba(0, 0, 0, 0.521);
  color: white;
  border: none;
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.575);
}

