#contact-summary-card {
    background-color: transparent;
    height: 70vh;
}

.contact-hover:hover {
  background-color: rgb(4, 110, 110);
}

.contact-method-info {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-position {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contact-icon {
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 2px;
    cursor: pointer;
  }
