#form-card {
    width: 25vw;
    height: 45vh;
    float: right;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
    margin-right: 8%;
    background-color: transparent;
    border: none;
    box-shadow: none;
}