.countdown-days-num{
    font-size: 2em;
    color: white;
}

.countdown-hours-num{
    font-size: 2em;
    color: white;
}

.countdown-mins-num{
    font-size: 2em;
    color: white;
}

.countdown-sec-num{
    font-size: 2em;
    color: white;
}