#dashboard-main-card {
    height: 78vh;
    background-color: #122342;
    border: solid 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    padding: 2% 0% 2% 0%;
}

#navigation-side {
    background-color: transparent;
}

#information-side{
    height: 68vh;
}

#far-right-column{
    padding-right: 2%;
}

#commits-main-card{
    background-color: #192f58;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

#news-ticker-card {
    background-color: #192f58;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}