#info-card {
    background-color: black;
    height: 76vh;
    width: 100%;
}

.tech-stack{
   border: none;
   flex: 1;
}

.card-footer-item {
    border-right: none;
}

.logo-image{
    width: 100px;
    height: 100px;
}