#news-api-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    background-color: #192f58;
    padding: 15px 0px 15px 0px;
}

#up-down-button-controls{
    padding-left: 0;
    padding-top: 20px;
}

#headline-news-column {
    background-color: #192f58;

}

.slide-style{
    background-color: #192f58;
}

#headline-slider-column{
    padding-right: 0;
}

#commit-icon{
padding-top: 30px;
}