#info-card {
    background-color: black;
    width: 100%;
}

.custom-header{
    padding-right: 0rem;
    padding-left: 1.5rem;
}

.tech-stack{
   border: none;
   flex: 1;
}

.card-footer-item {
    border-right: none;
}

.logo-image{
    width: 100px;
    height: 100px;
}


@media only screen and (max-width: 768px){
    #info-card {
        background-color: black;
        height: 75vh;
        overflow: scroll;
    }

    .logo-image{
        width: 25%;
        height: 25%;
    }
}