#time-zone-card{
    background-color: #192f58;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

.timezone-clock{
    font-size: 1em;
    font-weight: bold;
}

.timezone-place{
    font-size: 1.5em;
}

.timezone-date{
    font-size: 1em;
}