#local-timezone-section{
    padding-bottom: 0rem;
    padding-top: 0rem;
}

#local-timezone-card{
    background-color: #192f58;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

.timezone-local-clock{
    font-size: 1em;
    font-weight: bold;
}

.timezone-place-local{
    font-size: 1em;
}