#vacation-card{
    background-color: #192f58;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
}

.light-grey{
    color: rgb(150, 147, 147);
}

.dark-purple{
    color: #122342;
}

.countdown-label{
    font-size: 1.25em;
}