#wakatime-commits-card{
    background-color: #192f58;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    height: 6vh;  
}

.slide-style{
    background-color: #192f58;
}

#slider-column{
    padding-right: 0;
}

#commit-icon{
padding-top: 20px;
}

#up-down-button-column{
    padding-left: 0;
}